.SiteNav {
  display: flex;
  max-width: 320px;
  justify-content: space-around;
  font-size: 36px;
  margin: 20px;
}

.SiteNav a {
  color: #333;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 450ms ease;
}

.SiteNav a:hover {
  color: #ff0000;
}
